@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

main {
    width: 100vw;
    height: 100vh;
    background-color: #201b2c;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'Noto Sans', sans-serif;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.left-login > h1 {
    color: #01f784;
    font-size: 3vw;
    font-family: 'Share Tech Mono', monospace;
    
}
.left-login-img {
    width: 35vw;
}
.card-login {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 15px;
    box-shadow: 0px 10px 40px #00000056;
}
.textfield {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0px;

}
.textfield > input {
    width: 100%;
    border: none;
    border-radius: 7px;
    padding: 7px;
    background: #4a4162;
    outline: none;
    box-sizing: border-box;
    box-shadow: 0px 10px 40px #000000c9;

}
.textfield > label {
    color: #f0f0f0;
    margin-bottom: 10px;    
}
.textfield >  {
    color: #77ffc0;
}
.textfield > input::placeholder{
    color: #f0ffff94;

}
.btn-login {
    width: 100%;
    padding: 16px 0px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    color: #170332;
    box-shadow: 0px 10px 40px 12px;
    font-family: 'Rubik', sans-serif;
}

@media (max-width: 950px) {
    .card-login {
        width: 85%;
    }
}

@media(max-width: 600px) {
    main {
        flex-direction: column;
        padding: 10px;
    }
    .left-login > h1 {
        display: none;
    }
    .left-login {
        height: auto;
        width: 100%;
    }
    .right-login {
        height: auto;
        width: 100%;
    }
    .left-login-img {
        width: 60vw;
    }
    .card-login {
        width: 60%;
        margin-left: 21.5px;
    }
}